a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Merriweather', serif;
  color: #40514E;
  position: relative;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: #30475E;
  color: white;
  font-size: 1rem;
  position: sticky;
  top: 0px;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 0 20px;
}

.brand img {
  width: 30px;
  padding: 10px 50px 10px 10px;
}

.brand {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #EEF2FF;
  position: relative;
}

.middle {}

.bottom-container {
  background-color: #30475E;
  padding-top: 60px;
}

h1 {
  font-family: 'Sacramento', cursive;
  padding: 40px 0 0 0;
  margin: auto;
  font-size: 6rem;
  color: #30475E;
}

h2 {
  color: #30475E;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 20px 0;
}

.f1 {
  width: 70%;
}

span {
  text-decoration: underline;
}

.sp {
  color: #30475E;
}

.boy {
  width: 220px;
  margin: 100px 0 20px 0;
}

.skill-img {
  width: 220px;
  margin: 0 40px 0 0;
  float: left;
}

.hobbies-img {
  width: 220px;
  float: right;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.intro {
  width: 30%;
}

p {
  line-height: 2;
  margin: auto;
  font-size: 1.2rem;
  color: #40514E;
}

hr {
  margin: 100px auto;
  width: 6%;
  border-style: dotted none none;
  color: #DDDDDD;
  border-width: 5px;
}

.sign {
  color: #EEF2FF;
  padding: 20px 0;
  font-size: .9rem;
}

.bot-a a:hover {
  color: black;
}

.bot-a a {
  padding: 20px 20px;
  color: #EEF2FF;
}

.btn {
  background: #30475E;
  background-image: -webkit-linear-gradient(top, #30475E, #30474E);
  background-image: -moz-linear-gradient(top, #30475E, #30474E);
  background-image: -ms-linear-gradient(top, #30475E, #30474E);
  background-image: -o-linear-gradient(top, #30475E, #30474E);
  background-image: linear-gradient(to bottom, #30475E, #30474E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn {
  background: #30475E;
  background-image: -webkit-linear-gradient(top, #30475E, #30475E);
  background-image: -moz-linear-gradient(top, #30475E, #30475E);
  background-image: -ms-linear-gradient(top, #30475E, #30475E);
  background-image: -o-linear-gradient(top, #30475E, #30475E);
  background-image: linear-gradient(to bottom, #30475E, #30475E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #12598c;
  background-image: -webkit-linear-gradient(top, #12598c, #226ea1);
  background-image: -moz-linear-gradient(top, #12598c, #226ea1);
  background-image: -ms-linear-gradient(top, #12598c, #226ea1);
  background-image: -o-linear-gradient(top, #12598c, #226ea1);
  background-image: linear-gradient(to bottom, #12598c, #226ea1);
  text-decoration: none;
}

.contact-msg {
  width: 40%;
  margin: 40px auto;
}

.contact-me {
  margin: 80px 0;
}

.l2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 10px;
}
